.main {
    display: grid;

    grid-template-areas:
    "nav nav nav"
    "breadcrumb breadcrumb breadcrumb"
    "content content content"
    "footer footer footer";

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;

    height: 100vh;
}

header {
    grid-area: breadcrumb;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

aside {
    grid-area: side;
}

footer {
    grid-area: footer;
}
